*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
main,
article {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 5em auto;
    padding: 2em;
    border: 2px solid #000;
}

#form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#form>* {
    flex-basis: 100%;
}

#form>div {
    margin: 5px;
}

#_name,
#_email {
    padding: 3px;
}

.name-container,
.email-container {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}